.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.title {
    font-family: roboto-thin;
    font-style: italic;
    font-size: 2.8rem;
    margin-left: -6px;
}

.subtitle {
    font-family: roboto;
    font-size: 1.4rem;
    margin-top: 10px;
}

.back_btn {
    min-width: 400px;
    width: 20%;
    margin-top: 50px;
}
