.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-block: 6px;
    z-index: 100;
    border-radius: 12px;
    background-color: var(--context-menu-bg);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    min-width: 120px;
    max-width: 220px;
    max-height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
}

.menu_item {
    display: flex;
    align-items: center;
    padding-block: 6px;
    padding-inline: 12px;
    font-size: 14px;
    cursor: pointer;
}

.menu_item:hover {
    background-color: var(--context-menu-item-hover);
}

.selected {
    background-color: var(--context-menu-item-hover);
}

.item {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}
