.git/
.gitignore
.next/                # Existing Next.js builds
.dockerignore
README.md
Dockerfile
docker-compose.yml
node_modules/         # Installed inside container
nginx/                # We'll create this directory soon