.container {
    aspect-ratio: 0.707; /* A4 format */
    width: 800px;
    height: max-content;

    position: relative;
    margin-top: 2%;
    margin-bottom: 4%;
    margin-inline: auto;

    background: var(--editor-script-bg);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#editor {
    z-index: -1;
    width: 100%;
    height: max-content;
    min-height: 100%;
}

.page_counter {
    position: absolute;
    height: 100%;

    display: flex;
    flex-direction: column;
    row-gap: 800px;

    top: 0;
    right: -70px;
}

.page_count {
    font-size: 12pt;
    padding: 20px;
    color: grey;
}
