:root {
    --page-left-padding: 1.5in;
    --page-right-padding: 1in;
    --page-top-padding: 1in;
    --page-bottom-padding: 1in;

    --us-letter-format-width: 8.5in;
    --us-letter-format-height: 11in;
    --a4-format-width: 8.27in;
    --a4-format-height: 11.69in;

    --scene-count-visibility: visible;
}

.ProseMirror:focus {
    /* Prevent outline from appearing when focused on screenplay */
    outline: none;
}

.ProseMirror {
    min-height: 1100px;
}

.ProseMirror p,
.ProseMirror span {
    /* Default screenplay text attributes */
    font-family: "Courier Prime", monospace;
    color: var(--editor-text);
    font-size: 12pt;
    text-align: left;
    line-height: 17px;
    margin-bottom: 17px;
}

.page {
    /* Page size in US Letter format */
    width: var(--us-letter-format-width);
    height: var(--us-letter-format-height);

    /* Screenplay margins */
    padding-left: var(--page-left-padding);
    padding-right: var(--page-right-padding);
    padding-top: var(--page-top-padding);
    padding-bottom: var(--page-bottom-padding);

    position: relative;
    background: var(--editor-script-bg);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}

/* Editor styles */
span.bold {
    font-weight: bold;
}

span.italic {
    font-style: italic;
}

span.underline {
    text-decoration: underline;
}

/* User settings */
.highlight-on-hover .ProseMirror > p:hover {
    background-color: var(--editor-element-hover);
    border-radius: 8px;
}

.scene-background .scene {
    background-color: var(--editor-scene);
}

/* Editor elements */
.action {
    line-height: 17px;
    text-align: justify;
}

.scene {
    background-color: none;
    width: 100%;
    padding-top: 2px;
    padding-left: 4px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 20px;
    counter-increment: scenenumber;
}

.scene::before {
    content: counter(scenenumber) ".";
    position: absolute;
    margin-left: -75px;
    visibility: var(--scene-count-visibility);
}

/* Dialogue */
.dialogue {
    padding-left: 1in;
    padding-right: 1.55in;
}

.dialogue + .parenthetical {
    margin-top: -17px;
}

.character {
    padding-left: 2in;
    text-transform: uppercase;
}

.character + .parenthetical,
.character + .dialogue {
    margin-top: -17px;
}

/* Parenthetical */
.parenthetical {
    padding-left: 1.5in;
    padding-right: 2in;
    margin-bottom: 0;
}

.parenthetical::before {
    content: "(";
}

.parenthetical::after {
    content: ")";
}

/* Transition */
.transition {
    text-transform: uppercase;
    text-align: right !important;
}

.transition::after {
    content: ":";
}

/* Section */
.section {
    text-transform: uppercase;
    text-align: center !important;
    text-decoration: underline;
    line-height: 20px;
    counter-increment: actnumber;
}

/* Note */
.note {
    background-color: var(--editor-notes-color); /* a: 0.226 */
    padding-inline: 8px;
    padding-block: 4px;

    border-style: dashed;
    border-width: 2px;
    border-color: var(--editor-notes-color); /* a: 0.226 */
    border-radius: 10px;
}
