.container {
    z-index: 1;
    position: relative;
    padding-block: 30px;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--editor-bg);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title_div {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    align-items: center;
    padding-inline: 24px;
    border-radius: 64px;
    background-color: var(--secondary);
    height: 100%;
}

.right_btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6px;

    height: 100%;
    width: var(--format-sidebar-width);
    margin-right: 30px;
}

.left_btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;

    height: 100%;
    width: calc(var(--navigation-sidebar-width) + 30px);
}

.export_project_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 12px;

    border-radius: 64px;
    border: 2px solid var(--tertiary);
    user-select: none;
    cursor: pointer;
}

.export_project_btn:hover {
    background-color: var(--secondary-hover);
}

.export_project_btn svg {
    width: 18px;
    height: 18px;
    fill: var(--primary-text);
    object-fit: contain;
}

.back_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 12px;

    border-radius: 0 64px 64px 0;
    border: 2px solid var(--tertiary);
    border-left: none;
    user-select: none;
    cursor: pointer;
}

.back_btn:hover {
    background-color: var(--secondary-hover);
}

.back_btn svg {
    width: 18px;
    height: 18px;
    fill: var(--primary-text);
    object-fit: contain;
}

svg.status_icon {
    fill: var(--success);
}

.title_box {
    border: none;
    background: none;
    font-size: 1rem;
    border-radius: 6px;
    padding-inline: 6px;
    padding-bottom: 3px;
    color: var(--primary-text);
}

.title_box:focus {
    background-color: var(--secondary-hover);
    outline: none;
}

.title_box:hover {
    background-color: var(--secondary-hover);
}

.notlogged_btns {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-right: 25px;
}

.logo_and_tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    height: 100%;
}

.status {
    color: var(--secondary-text);
    width: 20px;
    height: 20px;
}

.failed {
    color: var(--error);
}

.success {
    color: var(--success);
}

.tooltip_container {
    position: relative;
    display: flex;
    align-items: center;
}

.tooltip_container:hover::after {
    content: attr(data-hint);
    position: absolute;
    top: 100%;
    right: 0;
    transform: none;
    margin-top: 5px;

    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    pointer-events: none;
    z-index: 100;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    50% {
        opacity: 100%;
    }
}
