.back {
    background-color: transparent;

    border-style: solid;
    border-color: var(--secondary);
    border-width: 4px;

    width: 40%;
    font-size: 1rem;
    white-space: nowrap;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.back:hover {
    transition: border-color 0.2s;
    border-color: var(--secondary-hover);
    background-color: transparent;
}

.back:active {
    transition: transform 0.25s;
    transform: scale(0.98);
}

.back_icon {
    width: 15px;
    height: 15px;
}
