.info {
    padding-top: 6px;
    color: white;
    width: 100%;
    font-size: 1rem;
}

.text {
    background-color: var(--success);
    text-align: justify;
    padding: 15px;
    border-radius: 6px;
}

.error {
    background-color: var(--error);
    text-align: justify;
    padding: 15px;
    border-radius: 6px;
}

.warn {
    background-color: var(--warning);
    text-align: justify;
    padding: 15px;
    border-radius: 6px;
}
