.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 64px;
    border: 2px solid var(--tertiary);
    color: var(--secondary-text);
    background-color: var(--main-bg);
    user-select: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.button:hover {
    background-color: var(--secondary-hover);
    color: var(--primary-text);
}

.active {
    background-color: var(--primary);
    color: var(--primary-text);
}
