.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-inline: 10px;
    gap: 12px;
    border-radius: 64px;
    border: 2px solid var(--secondary);
    background-color: var(--secondary);
    user-select: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.button:hover {
    border-color: var(--tertiary);
}

.active {
    border-color: var(--tertiary);
}
