.info {
    color: var(--secondary-text);
    overflow-wrap: anywhere;
    text-align: justify;
    margin-top: 15px;
}

.recoveryPage {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
    width: 100%;
    max-width: 900px;
    padding: 0 40px;
}

.logoSide {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: auto;
    height: 120px;
}

.formSide {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
