.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.submit {
    border: none;
}

.back,
.submit {
    padding-inline: 40px !important;
}

.back {
    width: auto !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-width: 3px !important;
    background-color: var(--primary) !important;
}

.back:hover {
    transition: border-color 0.2s;
    border-color: var(--tertiary-hover);
}

.back:active {
    transition: transform 0.25s;
    transform: scale(0.98);
}
