.container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    background-color: var(--main-bg);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-top: 70px;
    width: 100%;
}

.header_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
}

.create_btn {
    font-weight: bold;
    width: fit-content;
    padding-inline: 40px;
    border-radius: 20px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    row-gap: 30px;
}

@media (max-width: 1300px) {
    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .project-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
