.menu {
    display: flex;
    flex-direction: column;

    z-index: 1;
    position: absolute;
    overflow-y: auto;
    border-radius: 6px;
    background-color: var(--editor-style-bg-hover);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.menu_item {
    padding-block: 6px;
    padding-left: 8px;
    padding-right: 35px;

    font-size: 14px;
    border-bottom: 1px solid;
    border-color: var(--editor-sidebar);
}

.menu_item.selected {
    background-color: var(--editor-style-bg-active);
}

.menu_item:last-child {
    border-bottom: none;
}

.menu_item:hover {
    background-color: var(--editor-style-bg-active);
}
