.menu {
    display: flex;
    flex-direction: column;
    width: max-content;

    z-index: 1;
    position: absolute;
    overflow-y: auto;
    border-radius: 12px;
    background-color: var(--editor-sidebar);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.menu_item {
    display: flex;
    gap: 10px;

    padding-block: 8px;
    padding-left: 12px;
    padding-right: 35px;

    font-size: 14px;
    border-bottom: 1px solid;
    border-color: var(--separator);
}

.menu_item:last-child {
    border-bottom: none;
}

.menu_item:hover {
    background-color: var(--editor-sidebar-hover);
}
