.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    margin-inline: 30px;
    width: var(--format-sidebar-width);
    background-color: var(--main-bg);

    /* hiding it by default */
    margin-right: calc(var(--format-sidebar-width) * -1);
    transition: margin-right 0.5s ease;
}

.element {
    background-color: var(--editor-sidebar);
    padding-top: 10px;
    padding-bottom: 38px;
    border-radius: 35px;
}

.active {
    margin-right: 30px;
    transition: margin-right 0.5s ease;
}

.tabs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.style_btns {
    display: flex;
    flex-direction: row;
    padding-block: 15px;
    padding-left: 25px;
    gap: 12px;
}

.style_btn {
    width: 32px;
    height: 32px;
    padding: 8px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    background-color: var(--editor-style-bg);

    cursor: pointer;
}

.style_btn:hover {
    background-color: var(--editor-style-bg-hover);
}

.active_style {
    background-color: var(--editor-style-bg-hover);
}
