.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /*max-width: fit-content;*/
    padding-inline: 20px;
    padding-block: 10px;
}

.container:hover {
    background-color: var(--editor-sidebar-hover);
}

.container:not(:last-child) {
    border-bottom: 1px solid var(--separator);
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    width: 80%;
    font-size: 12px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.title.selected {
    background-color: var(--editor-style-bg-hover);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.header .preview {
    text-overflow: none;
}

.preview {
    font-size: 12px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--secondary-text);
}

.icon {
    height: 13px;
    width: 13px;
    margin-right: 6px;
    color: var(--secondary-text);
}
