#about-container {
    display: flex;
    flex: 1;

    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

#about-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    padding-inline: 24px;
    padding-block: 20px;

    background-color: var(--secondary-bg);
    border-radius: 8px;
}

.about-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 30px;
    width: 30%;
    min-width: 390px;
    margin-top: 110px;
}

.about-paragraph {
    text-align: justify;
    padding-inline: 24px;
    font-size: 1.2rem;
    font-family: roboto;
}

.about-header-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.about-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

.social-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    filter: invert(70%);
}

.social-icon:hover {
    filter: invert(85%);
}
