.dropdown-item {
    font-size: 0.9rem;
    font-family: segoe-light;
    text-align: left;

    padding-inline: 15px;
    padding-block: 10px;

    color: white;
    background-color: var(--secondary-bg);
    border: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.dropdown-item:hover {
    background-color: var(--secondary-bg-hover);
}

.dropdown-item-icon {
    width: 18px;
    height: 18px;
    filter: invert(100%);
}
