@import "../public/css/scriptio.css";

#editor > div {
    z-index: -1;
    width: 100%;
    height: max-content;
    min-height: 100%;
}

#editor {
    aspect-ratio: 0.707; /* A4 format */
    width: 800px;
    height: max-content;

    margin-top: 2%;
    margin-bottom: 4%;
    margin-inline: auto;

    background: var(--editor-screenplay);
    box-shadow: 0px 0px 8px 0px rgba(168, 174, 174, 0.75);
}
