.tab-text {
  font-size: 100%;
  font-family: "Courier";
  text-align: left;
  font-weight: bold;
}

.tab {
  border: none;
  width: 100%;
  padding: 10px;
  padding-left: 25px;
  background-color: transparent;
}

.tab:hover {
  transition: padding-left 0.1s;
  padding-left: 45px;
  background-color: rgb(230, 230, 230);
}

.tab:active {
  background-color: rgb(224, 224, 224);
}
