.sidebar {
    padding-top: 8px;
    background-color: var(--editor-sidebar);
    min-width: var(--format-sidebar-width);
}

.sidebar-shadow {
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.15);
}

.tabs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.editor-style-buttons {
    display: flex;
    flex-direction: row;
    padding-block: 15px;
    padding-left: 25px;
    gap: 12px;
}

.editor-style-btn {
    width: 32px;
    height: 32px;
    padding: 9px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    background-color: var(--editor-style-bg);

    cursor: pointer;
}

.editor-style-btn:hover {
    background-color: var(--editor-style-bg-hover);
}

.active-style {
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--editor-style-bg-active);
}

.editor-style-icon {
    width: 100%;
}

html.dark .editor-style-icon {
    filter: invert(75%);
}
