.tab-text {
    font-size: 100%;
    font-family: "Courier";
    text-align: left;
    font-weight: bold;
}

.tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;

    border: none;
    width: 100%;
    padding: 10px;
    padding-left: 25px;
    background-color: transparent;
}

.tab:focus {
    outline: none;
}

.tab:hover:not(.active-tab) {
    transition: padding-left 0.15s;
    padding-left: 48px;
    background-color: var(--editor-tab-active);
}

.active-tab {
    background-color: var(--editor-tab-active);
}

.editor-tab-icon {
    width: 12px;
    height: 12px;
}

html.dark .editor-tab-icon {
    filter: invert(100%);
}
