#sidebar {
    padding-top: 20px;
    background-color: var(--editor-sidebar);
    min-width: 260px;
}

.sidebar-shadow {
    box-shadow: -6px 0px 4px -2px rgba(0, 0, 0, 0.061);
}

.tabs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.saving-info {
    font-family: courier-prime;
    padding-bottom: 10px;
    padding-left: 16px;
}

.saving-info-visible {
    visibility: visible;
    opacity: 1;
}

.saving-info-hidden {
    transition: visibility 0s 0.8s, opacity 0.8s linear;

    visibility: hidden;
    opacity: 0;
}
