.tab-text {
    font-size: 100%;
    font-family: "Courier";
    text-align: left;
    font-weight: bold;
}

.tab {
    border: none;
    width: 100%;
    padding: 10px;
    padding-left: 25px;
    background-color: transparent;
}

.tab:focus {
    outline: none;
}

.tab:hover {
    transition: padding-left 0.1s;
    padding-left: 35px;
}

.active-tab {
    background-color: var(--editor-active-tab);
}
