.navigation-sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding-top: 25px;
    padding-inline: 30px;
    width: var(--nav-sidebar-width);
    background-color: var(--editor-sidebar);

    /*resize: horizontal;
    overflow: auto;*/

    /* hiding it by default */
    margin-left: calc(var(--nav-sidebar-width) * -1);
    transition: margin-left 0.1s ease-in;
}

.navigation-on {
    margin-left: 0;
    transition: margin-left 0.1s ease-in;
}

.sidebar-selection {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* Navigation menu tabs */
.nav-tab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    padding: 4px 10px;
    border-radius: 8px;
    background-color: var(--editor-style-bg-hover);
    cursor: pointer;
}

.nav-tab:hover {
    background-color: var(--editor-style-bg-active);
}

.nav-tab.active-nav-tab {
    background-color: var(--editor-style-bg-active);
}

.nav-tab-icon {
    width: 16px;
    height: 16px;
    filter: invert(70%);
}

/* Scenes list */
.nav-list {
    display: flex;
    flex-direction: column;

    height: 225px;
    margin-top: 12px;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;

    background-color: var(--editor-style-bg-hover);
}

.scene-list {
    height: 380px;
}

.nav-list-title {
    font-size: 1rem;
    font-family: segoe-light;
}

.scene-list-fill {
    min-height: 30px;
    height: 100%;
}

/* Scene item */
.scene-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /*max-width: fit-content;*/
    padding-inline: 8px;
    padding-block: 10px;

    border-bottom: 2px solid;
    border-color: var(--editor-sidebar);
}

.scene-item:hover {
    background-color: var(--editor-style-bg-active);
}

.scene-item-title {
    font-size: 12px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.scene-item-preview {
    font-size: 12px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: grey;
}

.scene-item-title.selected {
    background-color: var(--editor-style-bg-hover);
}
