#editor-and-sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

#editor-container {
    flex: 1;
    overflow-y: scroll;
}

#editor-top-btn {
    position: fixed;

    background-color: red;
    border-radius: 14px;
    height: 50px;
    width: 50px;

    bottom: 0;
    right: 0;
}

::-webkit-scrollbar {
    width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--editor-scroll-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
    height: 60px;
    background: var(--editor-scroll-btn);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--editor-scroll-btn-hover);
}
