.export-project-form {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.export-project-formats {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.export-project-format {
    display: flex;
    flex-direction: row;
    gap: 10px;

    padding-block: 4px;
    padding-inline: 14px;
    background-color: var(--secondary-bg);
    color: #ffffff;
    border-radius: 6px;

    cursor: pointer;
}

.selected-export-format {
    background-color: var(--export-project-selected);
}

.export-characters-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    position: relative;
}

.export-characters-dropdown {
    width: 120px;
    padding-inline: 4px;
    padding-block: 3px;
    border-color: var(--secondary-bg);
    border-radius: 5px;

    position: absolute;
    margin-right: 30px;
    margin-top: -6px;
}

.export-characters-list {
    margin-top: 16px;
}

.character-export-item-cross {
    width: 17px;
    height: 17px;
    font-size: 12px;
    padding-top: 1px;

    cursor: pointer;
    border-radius: 6px;
    border-style: none;
}

.character-export-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    padding-block: 8px;
    padding-inline: 14px;
    background-color: var(--secondary-bg);
    color: #ffffff;
    border-radius: 6px;
    width: max-content;
}

.character-export-item-wrapper {
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 6px;
}
