.form-info {
    padding-top: 6px;
    color: white;
    width: 100%;
    font-size: 1rem;
}

.form-info-text {
    background-color: #61b76b;
    text-align: justify;
    padding: 15px;
    border-radius: 6px;
}

.form-info-error {
    background-color: #ce4462;
    text-align: justify;
    padding: 15px;
    border-radius: 6px;
}
