@import "./scriptio.css";
@import "./themes.css";

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.app-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.app-layout > main {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

    /* Default values */
    --format-sidebar-width: 250px;
    --navigation-sidebar-width: 400px;
    --navbar-sidebar-width: 500px;
    --navbar-height: 90px;
}

html {
    --success: #61b76b;
    --error: #df3c3c;
    --warning: #efa52f;
}

/* ==================== */
/*        Layouts       */
/* ==================== */

hr {
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: var(--separator);
    height: 2px;
    margin-top: 10px;
}

h1,
h2,
h3 {
    color: var(--primary-text);
    font-family: var(--font-josefin), sans-serif;
    font-weight: bold;
}

p,
span {
    font-family: var(--font-inter), sans-serif;
    color: var(--primary-text);
}

a {
    color: var(--secondary-text);
}

a:hover {
    color: var(--secondary-text-hover);
}

select {
    width: 40%;
    height: 25px;
    padding-inline: 4px;
    padding-block: 2px;
    border: none;
    border-radius: 5px;
}

select,
textarea,
input {
    outline: none;
    border: none;
    background: var(--secondary);
    color: var(--primary-text);
}

svg {
    color: var(--primary-text);
}

/* ==================== */
/*       Scrollbar      */
/* ==================== */

::-webkit-scrollbar {
    width: 16px;
    border-radius: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 8px;
    background: var(--editor-scroll-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
    height: 60px;
    background: var(--editor-scroll-btn);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--editor-scroll-btn-hover);
}

/* https://stackoverflow.com/questions/6900124/how-to-make-certain-text-not-selectable-with-css */
.unselectable {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
}
