/* Layouts */
@import "HomePageFooter.module.css";
@import "HomePageNavbar.module.css";
@import "NavbarButton.module.css";
@import "NavbarTab.module.css";
@import "NavbarDropdown.module.css";
@import "DropdownItem.module.css";
@import "ExportDropdown.module.css";
@import "ProjectItem.module.css";
@import "NewProjectItem.module.css";

/* Forms */
@import "HomePageForm.module.css";
@import "LoginForm.module.css";
@import "RegisterForm.module.css";
@import "RecoveryForm.module.css";
@import "FormError.module.css";
@import "UploadButton.module.css";

/* Page containers */
@import "HomePageContainer.module.css";
@import "LoginContainer.module.css";
@import "RegisterContainer.module.css";
@import "RecoveryContainer.module.css";
@import "EditorContainer.module.css";
@import "ProjectPageContainer.module.css";
@import "EmptyProjectPage.module.css";
@import "NewProjectPage.module.css";
@import "EditProjectContainer.module.css";

/* Editor */
@import "EditorComponent.module.css";
@import "EditorContent.module.css";
@import "EditorSidebar.module.css";
@import "EditorTab.module.css";
@import "EditorPage.module.css";

body {
  margin: 0 !important;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@font-face {
  font-family: poetsen;
  src: URL("/fonts/Poetsen.ttf") format("truetype");
}

@font-face {
  font-family: roboto-thin;
  src: URL("/fonts/Roboto Thin.ttf") format("truetype");
}

@font-face {
  font-family: roboto;
  src: URL("/fonts/Roboto.ttf") format("truetype");
}

@font-face {
  font-family: segoe-bold;
  src: URL("/fonts/Segoe UI Bold.ttf") format("truetype");
}

@font-face {
  font-family: segoe-light;
  src: URL("/fonts/Segoe UI Light.ttf") format("truetype");
}

@font-face {
  font-family: courier-prime;
  src: URL("/fonts/Courier Prime.ttf") format("truetype");
}

@font-face {
  font-family: courier-prime-bold;
  src: URL("/fonts/Courier Prime Bold.ttf") format("truetype");
}

.segoe-bold {
  font-family: segoe-bold;
}

.segoe-light {
  font-family: segoe-light;
}

.segoe {
  font-family: "Segoe UI";
}

.unselectable {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}
