#homepage {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.homepage-text {
    margin-bottom: 3.5%;
}

#scriptio-title {
    font-family: poetsen;
    font-size: min(11vw, 11vh);
    margin-bottom: 0.7rem;
    color: black;
}

#scriptio-desc {
    font-family: roboto-thin;
    text-align: center;
    font-size: min(1.6vw, 1.6vh);
    color: black;
}

.fade-in {
    animation: fadeIn;
    animation-duration: 1s;
}

#homepage {
    background-size: 100%;
    background-image: linear-gradient(
        40deg,
        var(--home-bg-1) 0%,
        var(--home-bg-2) 30%,
        var(--home-bg-3) 67%,
        var(--home-bg-4) 100%
    );
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
