#logo:hover {
  transition: opacity 0.3s;
  opacity: 80%;
}

#logo {
  padding-inline: 16px;
}

#navbar {
  background-color: #474747;
  width: 100vw;
  height: 4.5vh;
  min-height: 55px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#navbar-buttons {
  margin-bottom: 4px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
}

#logo-and-tabs {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
