#homepage {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.homepage_text {
    z-index: -1;
    margin-bottom: 3.5%;
}

#scriptio_title {
    font-family: poetsen;
    font-size: min(11vw, 11vh);
    margin-bottom: 0.7rem;
}

#scriptio_desc {
    font-family: roboto-thin;
    text-align: center;
    font-size: min(1.6vw, 1.6vh);
}

.title {
    animation: fadeIn;
    animation-duration: 1s;
}

body {
    background-image: linear-gradient(
        60deg,
        #e3caaa 0%,
        #fcd1d1 30%,
        #fdf6ec 67%,
        #b7cadb 100%
    );
    background-size: 100%;
}

@keyframes fadeInDown {
    0% {
        transform: translateY(6%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes fadeInUp {
    0% {
        transform: translateY(-6%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
