a {
  text-decoration: none;
}

#form-btn-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.form-input {
  font-size: 1.15rem;
  font-family: "Segoe UI";
  border-radius: 7px;
  border-width: 2px;
  border-color: rgb(212, 212, 212);
  border-style: solid;
  padding: 8px;
}

.input::placeholder {
  font-size: 1rem;
}

.form-label {
  font-family: "Segoe UI";
}

.form-element {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-btn {
  font-size: 1rem;
  font-family: segoe-bold;
  color: #ffffff;
  background-color: #474747;
  width: 40%;

  /* Position */
  text-align: center;
  padding: 10px;
  padding-bottom: 12px;

  /* Border */
  border: none;
  border-radius: 10px;
  border-width: 2px;
}

.form-btn:hover {
  transition: background-color 0.2s;
  background-color: #686868;
}

.form-btn:active {
  transition: transform 0.25s;
  transform: scale(0.98);
}
