#footer {
    text-align: center;
    width: 100%;
    padding: 10px;

    position: absolute;
    background-color: transparent;
    bottom: 0;
}

#footer-text,
a {
    color: var(--primary-text);
    font-size: min(1.8vw, 1.2vh);
}
