#logo:hover {
    transition: opacity 0.3s;
    opacity: 80%;
}

#logo {
    padding-inline: 16px;
    margin-bottom: 4px;
}

#logo-text {
    color: white;
    font-family: poetsen;
    font-size: 20px;
}

#navbar {
    position: relative;
    background-color: var(--secondary-bg);
    width: 100%;
    height: 50px;
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#navbar-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 7px;

    margin-bottom: 3px;
    margin-right: 12px;
}

#notlogged-navbar-btns {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-right: 25px;
}

#logo-and-tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    height: 100%;
}

.saving-spin {
    width: 25px;
    height: 25px;
    margin-right: 7px;
}

.inactive-spin {
    animation: fadeOut;
    animation-duration: 2s;
    opacity: 0%;
}

@keyframes fadeOut {
    50% {
        opacity: 100%;
    }
}

.settings-btn {
    width: 20px;
    height: 20px;
    margin-right: 7px;

    cursor: pointer;
}

.save-btn {
    width: 18px;
    height: 18px;
    margin-right: 12px;

    cursor: pointer;
}

.save-btn.disabled {
    pointer-events: none;
    opacity: 40%;
}

.settings-icon {
    width: 100%;
    filter: invert(70%);
}

.settings-icon:hover {
    filter: invert(85%);
}
