a {
    text-decoration: none;
    user-select: none;
}

.navbar-btn {
    font-size: 0.8rem;
    color: white;
    background-color: transparent;
    cursor: pointer;

    padding-inline: 15px;
    padding-block: 5px;

    /* Border */
    border-style: solid;
    border-color: #a7a7a7;
    border-radius: 15px;
    border-width: 2px;
}

.navbar-btn:hover {
    transition: background-color 0.2s;
    background-color: var(--secondary-bg-hover);
}
