.navbar-dropdown {
    position: absolute;
    width: 150px;
    min-width: max-content;
    z-index: -1;

    top: 0;
    left: 0;
    padding-top: 45px;

    display: flex;
    flex-direction: column;

    animation: dropdown-anim 0.4s;
}

@keyframes dropdown-anim {
    from {
        padding-top: 0px;
        opacity: 0;
    }
    to {
        padding-top: 45px;
        opacity: 1;
    }
}
