.navbar-tab {
  padding-inline: 25px;
  border-inline-style: solid;
  border-inline-color: rgb(124, 124, 124);
  border-inline-width: 2px;
  height: 100%;

  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-tab:hover {
  transition: background-color 0.4s;
  background-color: rgb(87, 87, 87);
}

.navbar-tab-content {
  font-size: 1.1rem;
  color: white;
  font-family: segoe-light;
  padding-right: 10px;
  padding-bottom: 5px;
}

.dropdown-icon {
  width: 22px;
  filter: invert(100%);
}

.hidden-dropdown {
  display: none;
}
