.dropdown-items {
    position: absolute;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.navbar-dropdown {
    width: 100%;
    padding-top: 47px;
    animation: dropdown-anim 0.4s;
}

@keyframes dropdown-anim {
    from {
        padding-top: 0px;
        opacity: 0;
    }
    to {
        padding-top: 47px;
        opacity: 1;
    }
}
