.navbar-tab {
    padding-inline: 20px;
    height: 100%;

    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-tab:hover {
    cursor: pointer;
    background-color: var(--secondary-bg-hover);
}

.navbar-tab-content {
    font-size: 1rem;
    color: white;
    font-family: segoe-light;
    padding-bottom: 3px;
}

.dropdown-icon {
    width: 22px;
    filter: invert(100%);
}

.hidden-dropdown {
    display: none;
}
