#new-project-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 100%;
}

#new-project-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 60px;

  width: 25%;
  min-width: 270px;
  max-width: 400px;
}
