.new-project-item-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.new-project-item {
  min-width: 240px;
  max-width: 280px;
  margin: auto;
  border-radius: 24px;
  cursor: pointer;
}

.new-project-item-title {
  font-family: roboto-thin;
  font-size: 1.5rem;
}

.new-project-icon {
  width: 24px;
}
