#new-project-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 100%;
}

#new-project-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 10%;

  width: 25%;
  min-width: 270px;
  max-width: 400px;
}

#new-project-form-btn-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}

.new-project-submit-btn {
  height: 50px;
}

.input-description {
  min-height: 100px;
  max-height: 300px;
  resize: vertical;
}

.back-btn {
  font-size: 1rem;
  white-space: nowrap;
  cursor: pointer;
}
