#project-page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

#project-page-title {
  margin-top: 70px;
  text-align: left;
}

.center-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@media (max-width: 1000px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .project-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
