.project-item {
    min-width: 270px;
    max-width: 300px;
    aspect-ratio: 1.7;
    padding: 18px;

    border: none;
    border-radius: 16px;
    background-color: var(--project-item-bg);
    box-shadow: var(--project-item-shadow);

    cursor: pointer;
    transition: transform 0.1s;
}

.project-item-title {
    font-family: roboto-thin;
    font-style: italic;
    font-size: 1.4rem;
    max-width: 120px;
    text-align: left;
}

.project-item:hover {
    transition: transform 0.15s;
    transform: scale(1.02);
}

.project-item:active {
    transition: transform 0.03s;
    transform: scale(0.98);
}

.project-item-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project-delete-button {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 8px;
    border: none;
}

.project-date {
    display: flex;
    flex-direction: row;
    gap: 7px;
    margin-top: 10px;
}

.project-date-text {
    font-family: roboto-thin;
    font-size: 0.9rem;
    max-width: 120px;
    text-align: left;
}

.calendar-icon {
    opacity: 80%;
    width: 18px;
    height: 18px;
}

html.dark .calendar-icon {
    filter: invert(100%);
}

.movie-poster {
    width: 35%;
    aspect-ratio: 0.675;
}
