#project-page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.project-container-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-top: 70px;
    width: 100%;
}

.project-container-header-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project-container-header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
}

.delete-project-btn {
    height: 35px;
    width: 35px;
    padding: 6px;

    cursor: pointer;

    text-align: center;
    border-color: #d14d4d;
    border-width: 3px;
    border-radius: 18px;
    border-style: solid;
}

.delete-project-btn:hover {
    background-color: var(--secondary-bg);
}

.delete-project-icon {
    height: 100%;
}

.create-project-button {
    width: fit-content;
    padding-inline: 40px;
    border-radius: 20px;
}

.center-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    row-gap: 30px;
}

@media (max-width: 1300px) {
    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .project-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
