.project-item {
    min-width: 270px;
    max-width: 300px;
    aspect-ratio: 1.7;
    padding: 18px;

    border: none;
    border-radius: 16px;
    background-color: var(--project-item-bg);
    box-shadow: var(--project-item-shadow);

    cursor: pointer;
}

.project-item:hover {
    outline-style: solid;
    outline-color: var(--secondary-bg-hover);
    outline-width: 3px;
}

.project-item:active {
    transform: scale(0.97);
    transition: transform 0.07s;
}

/* Project deletion button */
.project-item-delete {
    transition: border-width 0.15s;

    border-style: dashed;
    border-color: rgb(190, 73, 73);
    border-width: 4px;

    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;

    animation-duration: 1.3s;
    animation-name: shake;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: forward;
}

.project-item-delete-title {
    font-family: roboto-thin;
    font-style: italic;
    font-size: 1.4rem;
}

.project-item-delete:hover {
    background-color: var(--secondary-bg-hover);
}

@keyframes shake {
    10%,
    90% {
        transform: rotate(0.5deg);
    }

    20%,
    80% {
        transform: rotate(-0.5deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(0.5deg);
    }

    40%,
    60% {
        transform: rotate(-0.5deg);
    }
}

/* General */
.project-item-title {
    font-family: roboto-thin;
    font-style: italic;
    font-size: 1.4rem;
    max-width: 120px;
    text-align: left;
}

.project-item-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.project-date {
    display: flex;
    flex-direction: row;
    gap: 7px;
    margin-top: 10px;
}

.project-date-text {
    font-family: roboto-thin;
    font-size: 0.9rem;
    max-width: 120px;
    text-align: left;
}

.calendar-icon {
    opacity: 80%;
    width: 18px;
    height: 18px;
}

html.dark .calendar-icon {
    filter: invert(100%);
}

.movie-poster {
    width: 85px;
    aspect-ratio: 0.675;
    border-radius: 6px;
}
