#project-page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

#project-page-title {
  margin-top: 70px;
}

.center-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;
  width: 40vw;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
