.recovery-info {
    overflow-wrap: anywhere;
    text-align: justify;
    color: var(--secondary-text);
    margin-top: 15px;
}

#recovery-form {
    display: flex;
    flex-direction: column;
    gap: 25px;

    width: 320px;
    min-height: 25vh;
}
