#settings-container {
    display: grid;
    max-width: 750px;
    min-width: 200px;
    width: 50%;
    margin-top: 70px;

    row-gap: 55px;
    column-gap: 10%;

    grid-template-columns: 45%;
    grid-template-areas:
        "header  header"
        "profile profile"
        "col1    col2";
}

.notes-color {
    position: absolute;
    right: 0;
    border: none !important;
    outline: none !important;
}

.settings-header {
    grid-area: header;
}

.settings-profile {
    grid-area: profile;
    margin-top: -25px;

    background-color: var(--header-background);
    border-radius: 12px;
    padding: 26px;
}

.settings-email {
    font-size: 1.3rem;
}

.settings-joined-date {
    color: var(--primary-text);
    font-style: italic;
    margin-top: 5px;
}

.settings-label {
    color: var(--primary-text);
    font-style: italic;
}

.settings-column-left {
    grid-area: col1;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.settings-column-right {
    grid-area: col2;

    display: flex;
    flex-direction: column;
    gap: 22px;
}

.settings-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    min-width: min(18%, 30%);
    min-height: 25%;
}

.settings-element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.settings-element-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative; /* for notes color input to not displace elements */
}

#language-form {
    max-width: 50%;
    width: 130px;
    padding-inline: 4px;
    padding-block: 2px;
    border-color: var(--secondary-bg);
    border-radius: 5px;

    position: absolute;
    right: 0;
}

@media (max-width: 900px) {
    #settings-container {
        display: flex;
        flex-direction: column;
    }
}
